<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link th:href="@{/CSS/mainlogin.css}" rel="stylesheet" />
    <!--Stylesheet-->
</head>
<body>
<h2>Weekly Coding Challenge #1: Sign in/up Form</h2>
<div class="right-panel-active container" id="container">
    <div class="form-container sign-up-container">
        <form action="#" th:action="@{/register}" th:object="${customer}" method="post">
            <input type="text" placeholder="Username" th:value="*{customerName}" th:field="*{customerName}">
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <a th:href="@{/login}" class="ghost" id="signIn">Sign In</a>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <a href="#" class="ghost" id="signUp">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
        - Read how I created this and how you can join the challenge
        <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
    </p>
</footer>
<script type="text/javascript" th:src="@{/JS/mainLogin.js}"></script>
</body>
</html>
